mixin slide-two(data)
    +section.slide-two
        h2 We aspire to partner with web design agencies, freelance designers and startups. Outsourcing our services helps you.
        
        ol
            li
                img(src="%=static=%images/content/img-01.png", width="152", height="148", alt="img-01")
                h3 Spend Less Resources
                p Remote front end developer doesn’t need working space at your office. Moreover, the tax burden is shifted to EU-based company-contractor.
            li
                img(src="%=static=%images/content/img-02.png", width="132", height="155", alt="img-02")
                h3 Get Superior and Reliable result
                p You can easily contact us via email <a href="mailto:serge@markupus.com">serge@markupus.com</a>&nbsp; or Skype <a href="skype:sergebaidin?chat">sergebaidin</a>&nbsp;  Monday-Friday from 9am to 7pm GMT. We carry out testing of our product in all major platforms and browsers before delivering to customers.
            li
                img(src="%=static=%images/content/img-03.png", width="147", height="158", alt="img-03")
                h3 Be on Top of the Game!
                p With a great team of responsible and hard working experts, we ensure up to date trends techniques to offer the best possible solution to our clients
        +scroll-helper(2)
