mixin footer
	.container
		.row
			.col-1
				p Handcrafted with ♥ at Markupus
				p.copy &copy; 2015-2016.
				
			.col-2
				+social([
					{
						link: 'https://www.facebook.com/markupus/',
						text: 'facebook',
						icon: 'icon-facebook-with-circle'
					}
				])
