$ff-open-sans: 'Open Sans', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;
$ff-FredokaOne: 'Fredoka One', cursive;

$title-color:#37474f;

$bg-header: #00a7e7;

$bg-slide-one: $bg-header;

$bg-slide-two: #00c89b;

$bg-slide-three: #8a8a8a;

$bg-slide-four: #ec407a;

$bg-slide-five: #37474f;

$bg-footer: #37474f;
