mixin slide-one(data)
    +section.slide-one
        .row
            .col-left
                h1 creating design for web?
                h2 HTML/CSS
                h3 is on us
                p Markupus produces high-quality hand written HTML/CSS and JavaScript code from your Sketch or PSD layouts.
            .col-right
                +mascot
                
                
        
        +scroll-helper(1)
