mixin mascot
	.mascot
		img(src="%=static=%images/minified-svg/animals.svg", width="379", height="560", alt="")
		.anim
			.before
				i: +icon({name: 'icon-bem'})
				i: +icon({name: 'icon-bootstrap'})
				i: +icon({name: 'icon-jquery'})
				i: +icon({name: 'icon-sass'})
				i: +icon({name: 'icon-css3'})
				i: +icon({name: 'icon-jade'})
				i: +icon({name: 'icon-html5'})
				i: +icon({name: 'icon-responcive'})
			.after
				i: +icon({name: 'icon-macos'})
				i: +icon({name: 'icon-ie'})
				i: +icon({name: 'icon-windows'})
				i: +icon({name: 'icon-linux'})
				i: +icon({name: 'icon-safari'})
				i: +icon({name: 'icon-chrome'})
				i: +icon({name: 'icon-firefox'})
